@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-700);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);
  --color-primary: var(--color-indigo-600);
  --color-border: var(--color-zinc-100);
  --color-edge: rgba(255, 255, 255, 0.1);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-success: var(--color-green-600);
  --color-info: var(--color-teal-600);
  --color-highlight: var(--color-white);
  --color-shadow: rgba(0,0,0, 0.2);
  --shadow-raised:
    2px 2px 6px var(--color-shadow), -2px -2px 6px var(--color-highlight),
    inset 0px 0px 0px var(--color-shadow), inset 0px 0px 0px var(--color-highlight),
    inset 1px 1px 2px var(--color-edge);
  --shadow-inset:
    1px 1px 2px var(--color-shadow), -1px -1px 2px var(--color-highlight),
    inset 2px 2px 6px var(--color-shadow), inset -2px -2px 6px var(--color-highlight);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-muted: var(--color-zinc-700);
    --color-muted-foreground: var(--color-zinc-400);
    --color-primary: var(--color-indigo-400);
    --color-border: var(--color-zinc-950);
    --color-destructive: var(--color-red-400);
    --color-warning: var(--color-orange-400);
    --color-success: var(--color-green-400);
    --color-info: var(--color-teal-400);
    --color-shadow: rgba(0,0,0, 0.75);
    --color-highlight: rgba(255,255,255, 0.2);
  }
}

@layer base {
  html, body {
    @apply bg-background text-foreground;
  }
}