@import "tailwindcss";

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-700);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);
  --color-primary: var(--color-indigo-600);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-success: var(--color-green-600);
  --color-info: var(--color-teal-600);
  --color-highlight: var(--color-white);
  --color-shadow: rgba(0,0,0, 0.15);
  --shadow-raised:
    2px 2px 6px var(--color-shadow), -2px -2px 6px var(--color-highlight),
    inset 0px 0px 0px var(--color-shadow), inset 0px 0px 0px var(--color-highlight);
  --shadow-inset:
    1px 1px 2px var(--color-shadow), -1px -1px 2px var(--color-highlight),
    inset 2px 2px 6px var(--color-shadow), inset -2px -2px 6px var(--color-highlight);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-primary: var(--color-indigo-400);
  }
}

@layer base {
  html, body {
    @apply bg-background text-foreground;
  }
}